/* Resetting default browser styles */
body, h1, h2, h3, h4, p, ul, form, input, button {
    margin: 0;
    padding: 0;
}

/* Basic styles */
body {
    font-family: Arial, sans-serif;
    background-image: url('https://png.pngtree.com/background/20210714/original/pngtree-futuristic-shape-abstract-background-chemistry-technology-concept-for-website-picture-image_1250295.jpg');
    font-size: medium;
    background-color: #f4f4f4;
}

.otp-container {
    width: 400px;
    margin: 100px auto;
    background-image: url('https://asset.gecdesigns.com/img/background-templates/colorful-gradient-abstract-background-template-1614253354657-cover.webp');
    background-color: #3478d0;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #999;
    pointer-events: none;
    transition: all 0.3s ease;
}

.input-group input:focus + label, .input-group input:not(:placeholder-shown) + label {
    top: 5px;
    left: 10px;
    font-size: 12px;
    color: #333;
}

.otp-btn {
    display: block;
    width: 100%;
    padding: 5px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #555;
}

.resend-link {
    text-align: center;
    margin-top: 15px;
}

.resend-link a {
    color: #333;
    text-decoration: none;
}

.resend-link a:hover {
    text-decoration: underline;
}
