/* Resetting default browser styles */
body, h1, h2, h3, h4, p, ul, form, input, button {
    margin: 0;
    padding: 0;
}

/* Basic styles */
body {
    font-family:Georgia, Times, 'Times New Roman', serif;
    background-image: url('https://png.pngtree.com/background/20210714/original/pngtree-futuristic-shape-abstract-background-chemistry-technology-concept-for-website-picture-image_1250295.jpg');
}

.signup-container {
    width: 400px;
    margin: 3% auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-size: medium;
    background-image: url('https://asset.gecdesigns.com/img/background-templates/colorful-gradient-abstract-background-template-1614253354657-cover.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

.input-group {
    margin-bottom: 10px;
}

.input-group label {
    display: block;
    margin-bottom: 3px;
}

.input-group input {
    width: 160%;
    padding: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.signup {
    display: block;
    width: 45%;
    padding: 10px;
    background-color: #2da00d;
    color: #fff;
    border: none;
    font-family:Georgia, Times, 'Times New Roman', serif;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
    transition: background-color 0.3s;
} 

.btn:hover {
    background-color: #1c0e7a;
    text-decoration: none;
}
.login-link {
    text-align: center;
}

.login-link a {
    color: #d1cec6;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: none;
}
