<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Validation</title>
    <link rel="stylesheet" href="{{url_for('static',filename='otp.css')}}">
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
    <center><li>{{ message }}</li></center>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<body>
    <div class="otp-container">
        <h2>Enter OTP</h2>
        <form method="POST">
            <div class="input-group">
                <input type="text" id="otp" name="otp" maxlength="6" required>
                <label for="otp">Enter OTP</label>
            </div>
            <button type="submit" class="btn">Submit</button>
            <p class="resend-link">Didn't receive OTP? <a href="{{url_for('signup')}}">Resend OTP</a></p>
        </form>
    </div>
</body>
</html>
