{% extends 'home.html' %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='otp.css')}}"/>
{% endblock %}
{% block content %}
    <div class="otp-container">
        <h2>Enter OTP</h2>
        <form method="POST">
            <div class="input-group">
                <input type="text" id="otp" name="otp" maxlength="6" required>
                <label>Enter OTP</label>
            </div>
            <button type="submit" class="otp-btn">Submit</button>
            <p class="resend-link">Didn't receive OTP? <a href="{{url_for('signup')}}">Resend OTP</a></p>
        </form>
    </div>
{% endblock %}