{% extends 'student_dashboard.html' %}
  
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    {% for roll, subject, message in data %}
      <div class="col-md-3 mb-4">
        <div class="card text-bg-active">
          <div class="card-header"><b>Roll: </b>{{ roll }}</div>
          <div class="card-body">
            <p class="card-title"><b>Subject: </b>{{ subject }}</p>
            <p class="card-text"><b>Message: </b>{{ message }}</p>
            <form action="{{ url_for('viewpost', subject=subject, message=message) }}" method="POST">
              <div class="form-group">
                <label for="reply">Reply to message:</label>
                <textarea class="form-control" id="reply" name="reply" placeholder="Write your post here..." required></textarea>
              </div>
              <p>
              <button type="submit" class="btn btn-success">Post</button>
              <a href="{{ url_for('postview') }}" class="btn btn-success">View</a>
            </form>
          </div>
        </div>
      </div>
      {% if loop.index % 4 == 0 %}
        </div><div class="row justify-content-center">
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}
