
{% extends 'admin_base.html' %}
  
{% block content %}
<style>
      .container{
        margin-top: 3%;
        margin:center;
        width: 70%;
      
      }
</style>
<div class="container">
<div class="table-responsive-sm">
<table class="table table-sm">
    <thead>
      <tr class="table-danger">
        <th scope="col">Sl.No</th>
        <th scope="col">Roll Number</th>
        <th scope="col">Full Name</th>
        <th scope="col">Email</th>
        <th scope="col">Delete Student</th>
      </tr>
    </thead>
    <tbody >
      {% for details in data %}
      <tr class="table-warning">
        <th scope="row">{{loop.index}}</th>
        <td> {{details.rollnumber}}</td>
        <td> {{details.name}}</td>
        <td>{{details.email}} </td>
        <td class="text"><a class="btn btn-danger btn-active btn-sm" style="border-radius:0px;" href="{{url_for('admin_delete_student',roll=details.rollnumber)}}">Delete</a></td>      
      </tr>
      {% endfor %}
      
    </tbody>
  </table>
</div>
</div>
{% endblock %}
